#star {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: white;
}

#star:hover {
    fill: rgb(236, 174, 49);
}

#saved {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    cursor: pointer;
    width: 24px;
    height: 24px;
    fill: rgb(236, 174, 49);
}